// .create-post {
//   margin-top: 20px;
//   width: 593px;
// //   height: 124px;
//   border-radius: 10px;
//   background-color: var(--bg-primary);
//   padding: 0 15px;

//   &_header {
//     padding-top: 10px;
//     display: flex;
//     align-items: center;
//     border-bottom: 1px solid #ccc;
//     padding-bottom: 10px;

//     img {
//       width: 40px;
//       height: 40px;
//       border-radius: 50%;
//       cursor: pointer;
//     }
    
//   }
//   &_icon {
//     width: 100%;
//     padding: 10px 0;
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
//   }
// }

// .think {
//   width: 100%;
//   height: 40px;
//   margin-left: 10px;
//   background-color: rgb(240, 242, 245);

//   display: flex;
//   align-items: center;
//   padding-left: 10px;
//   border-radius: 30px;
//   color: var(--color-secondary);
//   cursor: pointer;
// }

// .think:hover{
//     background-color: var(--bg-third);
// }

// .post_icon{
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     color: var(--color-secondary);
//     font-weight: 500;
//     font-size: 14px;
//     padding: 5px 20px;
//     border-radius: 5px;
//     background-color: red;
//     cursor: pointer;
//     svg{
//         margin-right: 10px;
//     }
// }

// .post_icon:hover{
//     background-color: var(--bg-forth);
// }

.createPost {
  background: var(--bg-primary);
  border-radius: 10px;
  box-shadow: 0 1px 2px var(--shadow-1);
  margin-top: 1.1rem;
  width: 100%;
  cursor: pointer;
}

.createPost_header {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px 17px 5px 15px;
}

.createPost_header img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.open_post {
  background: var(--bg-forth);
  color: var(--color-secondary);
  height: 41px;
  flex: 1;
  border-radius: 50px;
  font-size: 17px;
  line-height: 21px;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.create_splitter {
  height: 1px;
  width: 95%;
  background: var(--bg-third);
  margin: 7px 10px;
}

.createPost_body {
  padding: 0 10px 8px 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.createPost_icon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-weight: 600;
  padding: 7px;
  color: var(--color-secondary);
  border-radius: 10px;
  font-size: 14px;
}